node_modules/
static/deprecated/
shaders/libraries/lygia

# Ignore all nifti files
static/nifti/**/*.nii
static/nifti/**/*.nii.gz

# Make sure parent dirs are visible to git
!static/nifti/
!static/nifti/cardiac/

# Keep only these nifti files
!static/nifti/head/CTA-Head-and-Neck.nii.gz
# !static/nifti/cardiac/ct_train_1001_image.nii.gz
# !static/nifti/cardiac/Angelou0516Cardiac.nii.gz
# !static/nifti/cardiac/MedHK23_CCA.nii.gz